<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Movie:</b>
  <%= @comment.movie_id %>
</p>

<p>
  <b>Position:</b>
  <%= @comment.position %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
